################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/graph-if-js/.vs
/graph-if-js/.vscode
